.jumbotron {
  height: 200px;
  color: black;
  background-color: blue;
  display: flex;
  align-items: center;
  align-content: center;
  text-align: center;
  vertical-align: middle;
  flex-direction: column;
  justify-content: center;
}
